.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  // min-height: 100%;
  max-height: fit-content;
}

.card-content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-action-button {
  // display: inline-block;
  // overflow: auto;
  // width: 30%;
  // margin: 5px;
  border-radius: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  // overflow-y: scroll;
  min-height: 40vh;
  max-height: fit-content;
}

.card-content-text {
  display: inline-block;
  // overflow: auto;
  // text-align: center;
  height: max-content;
  max-width: 90%;
}

.card-actions-container {
  display: flex;
  justify-content: space-evenly;
}

.card-options-icon {
  // float: right;
  cursor: pointer;
  margin-left: 10px;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-icon {
  margin: 0px !important;
}

.card-header {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  border: 0;
  padding: 0;
}

.card-subtitle {
  display: flex;
  justify-content: space-between;
}

.dekk-name {
  max-width: 90%;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.img-class {
  height: clamp(5vh, 25vh, 30vh);
  width: clamp(5vh, 25vh, 30vh);
  margin-bottom: 0;
  cursor: pointer;
}

.content-container-right {
  margin-left: 2vw;
  width: 90%;
}

span {
  font-size: 18px !important;
}

@media (max-width: 400px) {
  .mobile-next-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 383px) {
  .img-container {
    display: block;
    text-align: center;
  }

  .img-class {
    height: clamp(5vh, 25vh, 30vh);
    width: clamp(5vh, 25vh, 30vh);
    margin-top: 1vh;
    cursor: pointer;
  }

  .img-first {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .card-action-button {
    display: inline-block;
    overflow: auto;
    width: 90%;
    margin: 5px !important;
  }
}