<mat-card class="card-container">
  <mat-card-subtitle class="unselectable-content card-subtitle">
    <span class="dekk-name card-header">{{getCardDekk()}}</span>
    <span>
      <mat-icon class="card-options-icon" [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="rateDialog()">Feedback</button>
        <button mat-menu-item>
          <mat-icon class="menu-item-icon">star</mat-icon>
          Bookmark
        </button>
      </mat-menu>
    </span>
  </mat-card-subtitle>
  <mat-card-content class="content-item card-content unselectable-content" [innerHtml]="content"></mat-card-content>
  <mat-card-actions class="card-actions-container mobile-next-line">
    <!-- <button mat-raised-button color="primary" class="card-action-button"> Highlight </button> -->
    <button mat-raised-button color="primary" class="card-action-button" (click)="flipToBack()"> Flip To Back </button>
  </mat-card-actions>
</mat-card>