.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  height: 100%;
}

.content-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-action-button {
  display: inline-block;
  overflow: auto;
  width: 30%;
  margin: 5px;
}

.card-content {
  display: inline-block;
  overflow: auto;
  text-align: center;
  height: max-content;
}

.card-actions-container {
  display: flex;
  justify-content: space-evenly;
}

.card-options-icon {
  float: right;
  cursor: pointer;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-icon {
  margin: 0px !important;
}

.card-header {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  border: 0;
  padding: 0;
}

.card-subtitle {
  display: flex;
  justify-content: space-between;
}

.dekk-name {
  max-width: 90%;
}

@media (max-width: 400px) {
  .mobile-next-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .card-action-button {
    display: inline-block;
    overflow: auto;
    width: 90%;
    margin: 5px !important;
  }
}