.page-container {
  padding-top: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  height: 30vh;
  width: 90%;
  margin-bottom: 5px;
}

.content-title {
  margin: 0px;
}

.content-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.card-action-button {
  width: 90%;
  margin: 5px;
}

.hide-card {
  display: none;
}

.card-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.previous-card-nav-container {
  @extend .card-nav-container;
  align-items: flex-end;
}

.next-card-nav-container {
  @extend .card-nav-container;
  align-items: flex-start;
}

.card-nav {
  cursor: pointer;
  font-size: 24px;
}

.loading-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loading-progress-bar {
  margin-top: 10px;
}

.study-card-container {
  // height: 80vh;
  width: 80%;
}