@import './../styles.scss';

.background {
  min-height: 100%;
  width: 100%;
}

.each-toolbar-part {
  width: 30vw;
}

.head-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.head-toolbar-center {
  @extend .each-toolbar-part;
  display: flex;
  justify-content: space-evenly;
}

.head-toolbar-right {
  @extend .each-toolbar-part;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: fit-content;
}

.dark-light-toggle {
  display: flex !important;
  justify-content: space-evenly;
}

.padded-toolbar-component {
  margin: 10px;
  width: auto;
}

.toolbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(25px, 5vh, 30px);
  border-radius: 10vh;
  font-size: 11px;
  margin-right: 1vw;
}

:host {
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }
  
  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    // margin: 82px auto 32px;
    // padding: 0 16px;
    // max-width: 960px;
    // flex-direction: column;
    // align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .search-box-container {
    margin-right: 10px;
  }

  .search-icon {
    // float: right;
    // margin-right: 2px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  .search-box {
    display: flex;
  }

  .search-input {
    margin-left: 5px;
    border: 0px !important;
    background: transparent !important;
    transform: rotateY(180deg);
  }

  .footer-class {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
  }

  .footer-entry {
    // float: left;
    font-size: clamp(10px, 2.3vh, 15px);
    margin-right: 15px;
  }

  .footer-part {
    display: flex;
    justify-content: space-evenly;
  }

  .footer-left {
    float: left;
    width: fit-content;
    padding-left: 0;
  }

  .footer-right {
    // @extend .footer-part;
    float: right;
    width: fit-content;
    padding-right: 0;
  }

  .footer-icon {
    margin-left: 15px;
  }

  .icon-img-base {
    background-size: contain;
    margin-right: 10px;
  }

  .img-icon-light-in-dark-mode {
    @extend .icon-img-base;
    background: url("./../assets/user-icon-light.svg") no-repeat;
    background-size: contain;
    margin-right: 10px;
  }

  .img-icon-dark-in-light-mode {
    @extend .icon-img-base;
    background: url("./../assets/user-icon-dark.svg") no-repeat;
    background-size: contain;
    margin-right: 10px;
  }

  .img-icon-light-in-dark-mode:hover {
    @extend .icon-img-base;
    background: url("./../assets/user-icon-light-hovered.svg") no-repeat;
    background-size: contain;
    margin-right: 10px;
  }

  .img-icon-dark-in-light-mode:hover {
    @extend .icon-img-base;
    background: url("./../assets/user-icon-dark-hovered.svg") no-repeat;
    background-size: contain;
    margin-right: 10px;
  }

  .mode-icon-dark-in-light-mode {
    @extend .icon-img-base;
    background: url("./../assets/toggle-dark.svg") no-repeat;
    background-size: cover;
    margin-right: 10px;
  }

  .mode-icon-light-in-dark-mode {
    @extend .icon-img-base;
    background: url("./../assets/toggle-light.svg") no-repeat;
    background-size: cover;
    margin-right: 10px;
  }

  // .card-container .card:not(:last-child) {
  //   margin-right: 0;
  // }

  // .card.card-small {
  //   height: 16px;
  //   width: 168px;
  // }

  // .card-container .card:not(.highlight-card) {
  //   cursor: pointer;
  // }

  // .card-container .card:not(.highlight-card):hover {
  //   transform: translateY(-3px);
  //   box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  // }

  // .card-container .card:not(.highlight-card):hover .material-icons path {
  //   fill: rgb(105, 103, 103);
  // }

  // .card.highlight-card {
  //   background-color: #1976d2;
  //   color: white;
  //   font-weight: 600;
  //   border: none;
  //   width: auto;
  //   min-width: 30%;
  //   position: relative;
  // }

  // .card.card.highlight-card span {
  //   margin-left: 60px;
  // }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 10px;
}

mat-sidenav {
  width: 200px;
}

.left-toolbar {
  @extend .each-toolbar-part;
  display: flex;
  align-items: center;
  width: fit-content;
  // justify-content: space-between;
}

.left-toolbar-block {
  display: flex;
  align-items: center;
  margin-right: 1vw;
}

.logo-placement {
  margin-left: 10px !important;
  height: clamp(18px, 3.5vh, 25px);
  // width: 5vw;
}

.icon-height {
  height: 24px;
}

.icon-width {
  width: 24px;
}

.img-icon {
  @extend .icon-height, .icon-width;
  // height: 24px;
  // width: 24px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
  z-index: 9;
}

.divider-class {
  margin-left: 10px;
  margin-right: 10px;
}

.search-input {
  border: 0px;
  background: transparent;
  color: #fff3e0;
}

.dekk-header-name {
  cursor: pointer;
}

.head-toolbar-center-absolute {
  position: absolute;
  top: 0px;
  left: 40%;
  background: transparent;
  font-weight: bold;
}

.login-signup-container {
  background: transparent !important;
}

.sb-search {
	width: 0%;
	min-width: 24px;
	overflow: hidden;

	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;

	-webkit-backface-visibility: hidden;
}

.search-click {
  padding: 0;
  background: transparent !important;
}

::ng-deep .mat-form-field.mat-focused {
  // width: 40vw !important;

  .mat-input-element {
      background: transparent;
  }
} 

@media (max-width: 767px) {
  .head-toolbar-center {
    display: none;
  }

  .small-screen-hide {
    display: none;
  }
}