<!-- Toolbar -->
<div [ngClass]="{'dark-theme-mode': isDarkThemeEnabled}" class="mat-app-background background">
  <div color="primary" class="toolbar head-toolbar" role="banner">
    <div class="toolbar-overlay" [hidden]="!isDarkThemeEnabled"></div>
    <div class="left-toolbar">
      <img src="assets/dark-logo-full.png" class="logo-placement menu-icon" [hidden]="isDarkThemeEnabled" (click)="goToHomePage()" />
      <img src="assets/light-logo-full.png" class="logo-placement menu-icon" [hidden]="!isDarkThemeEnabled" (click)="goToHomePage()" />
      <button mat-stroked-button class="toolbar-button quarter-opacity-outline-themed small-screen-hide" color="accent" (click)="goToStudy()">Study</button>
      <mat-search-bar
        (onEnter)="submitSearch($event)"
        matTooltip="Search"
        class="search-input color-themed"
        direction="right"
        [hidden]="!isLoggedIn()"></mat-search-bar>
    </div>
    <div class="head-toolbar-center" [hidden]="isLoggedIn()">
      <button mat-button (click)="goToAboutUs()">About Us</button>
      <button mat-button (click)="goToWhyDekk()">Why Dekk?</button>
      <button mat-button>Contact Us</button>
    </div>
    <div class="head-toolbar-right">
      <div [hidden]="isLoggedIn()">
        <button mat-button color="accent" (click)="loginClicked()">Sign In</button>
      </div>
      <button mat-stroked-button class="toolbar-button menu-icon quarter-opacity-outline-themed small-screen-hide" color="accent" (click)="goToCreateView()">Create</button>
      <span [hidden]="!isLoggedIn()" class="dark-light-toggle padded-toolbar-component">
        <mat-slide-toggle class="small-screen-hide dark-light-toggle" matTooltip="Dark Mode Toggle" (click)="toggle()" [(ngModel)]="isDarkThemeEnabled">
        </mat-slide-toggle>
      </span>
      <mat-icon [hidden]="!isLoggedIn()" class="search-icon menu-icon color-themed" color="accent" [matMenuTriggerFor]="menu">person</mat-icon>
      <mat-menu #menu="matMenu" class="menu-background">
        <button mat-menu-item class="menu-item">Account</button>
        <button mat-menu-item class="menu-item">Settings</button>
        <button mat-menu-item class="menu-item">Bookmarks</button>
        <mat-divider class="divider-class"></mat-divider>
        <button mat-menu-item class="menu-item" (click)="goToAboutUs()">About</button>
        <button mat-menu-item class="menu-item" (click)="goToWhyDekk()">Why Dekk</button>
        <mat-divider class="divider-class"></mat-divider>
        <button mat-menu-item class="menu-item" (click)="logout()">Log Out</button>
      </mat-menu>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>