<!-- <div style="background-image: url(assets/home-bg-2.png); background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment: fixed; width: 100%; height: 100%"></div> -->

<div class="row full-page-container">
    <div class="col-md-6 col-12 left-panel-container">
        <div class="home-large-font-container">
            <h1 class="home-large-font">Ready. Steady.</h1>
        </div>
        <div class="home-large-font-container">
            <h1 class="home-large-font primary-text-color">Study.</h1>
        </div>
        <div class="home-font-container">
            Improve your recall strategy by regularly revising snippets of<br>information to stay on top of your game!
        </div>
        <div class="home-font-container">
            Make the study-revise cycle, less tedious and effortless<br>for #NEET-PG, #INI-CET
        </div>
        <div class="home-font-container">
            <button mat-raised-button color="primary">Register Now</button>
        </div>
    </div>
    <div class="col-md-6 col-12 right-panel-container">
        <mat-card class="landing-card">
            <mat-card-content>
                Phenomenon of Diabetic patients having a<br>lower level of blood glucose at midnight<br>followed by early morning hyperglycemia<br>is called the _______ effect.
            </mat-card-content>
        </mat-card>
    </div>
</div>