<base-card>
    <base-card-title>
        <h4 class="mdl-card__title-text">{{ dekkName }}</h4>
    </base-card-title>
    <base-card-body style="height: 100%">
        <div class='top-card-on-dekk-container'>
            <div>{{ numOfCardsInDekk }} cards</div>
        </div>
    </base-card-body>
    <base-card-actions class="mdl-card--border dekk-view-actions-panel">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green dekk-view-action"> Study / Resume </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue dekk-view-action"> Reset Progress </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-light-blue dekk-view-action"> Bookmark </button>
    </base-card-actions>
</base-card>