version: "3.7"
services:
  pg:
    image: postgres:10.13
    hostname: test
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - 2517:5432
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
