.loading-text-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .loading-progress-bar {
    margin-top: 10px;
  }