.dialog-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    text-align: center;
}

.actions-container {
    display: flex;
    justify-content: center;
}

.dialog-button {
    border-radius: 20px !important;
}