<div class="row full-page-container">
    <div class="col-12 full-panel-container">
        <div class="font-container">
            <h1 class="large-font">Why Dekk?</h1>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-10 full-panel-container">
        <div class="font-container">
            Why would you choose us when there are resources flooding from multiple platforms?
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-10 full-panel-container">
        <div class="font-container primary-text-color">
            Simple.
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-sm-4 col-12 right-panel-container">
        <mat-card class="landing-card">
            <mat-card-content>
                Authentic content curated by board-certified doctors who have topped multiple exams over the years.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-4 col-12 right-panel-container">
        <mat-card class="landing-card">
            <mat-card-content>
                A team of engineers making sure you have a swift interface to use and integrate dekk into your study schedule.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-4 col-12 right-panel-container">
        <mat-card class="landing-card">
            <mat-card-content>
                Content curated and verified from top resources to uphold the highest levels of medical education standards practised anywhere in the world. 
            </mat-card-content>
        </mat-card>
    </div>
</div>
