<div [hidden]="!isLoading">
  <app-loading></app-loading>
</div>

<div class="page-container" [hidden]="isLoading">
  <div class="right-panel-container">
    <div class="dekk-title">
      {{ currentDekk.dekk_name }}
    </div>
    <div class="right-panel-table-container general-text">
      <span class="right-table-row" [hidden]="currentDekk.cards.length === 0">
        <div class="cards-table-container">
          <table mat-table class="mat-elevation-z0 cards-table" [dataSource]="currentDekk.cards">
            <ng-container matColumnDef="card">
              <th mat-header-cell *matHeaderCellDef>card</th>
              <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>
            <ng-container matColumnDef="preview">
              <th mat-header-cell *matHeaderCellDef>preview</th>
              <td mat-cell *matCellDef="let element">
                <div class="cell-preview"> {{element.content_on_front}} </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>action</th>
              <td mat-cell *matCellDef="let element">
                <div class="action-button-in-cards-table"> 
                  <!-- <button mat-button matTooltip="Preview: {{element.content_on_front}}">
                    <mat-icon>visibility</mat-icon>
                  </button> -->
                  <button mat-button matTooltip="Edit Card" (click)="editCard(element.card_id)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-button matTooltip="Delete Card" (click)="deleteCard(element.card_id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>
            <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
          </table>
        </div>
      </span>
    </div>
    <span class="right-table-row">
      <button mat-stroked-button class="quarter-opacity-outline-themed add-card" (click)="addCard()">Add Card</button>
    </span>
  </div>
</div>