.page-container {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  width: 100%;
}

.left-panel-container {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  border-radius: 20px;
}

.right-panel-container {
  padding-left: 5vw;
  width: 90%;
}

.right-panel-table-container {
  @extend .left-panel-container;
}

.card-container {
  height: 30vh;
  width: 90%;
  margin-bottom: 5px;
}

.content-title {
  margin: 0px;
}

.content-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding: 1vh;
}

.content-item-content {
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-word;
  white-space: normal;
}

.card-action-button {
  width: 90%;
  margin: 5px;
}

.right-panel-value {
  float: right;
}

.table-cell {
  padding: 10px;
}

.left-column {
  @extend .table-cell;
  width: 20vw;
}

.right-table {
  width: 100%;
}

.table-row {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  border-bottom: 1px;
}

.row-separator {
  margin: 0;
}

.separator-when-small {
  display: none;
}

.right-table-row {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  width: 100%;
  // padding: 5px;
}

.right-table-key {
  width: 25%;
}

.right-table-value {
  width: 75%;
}

.cards-table-container {
  height: fit-content;
  // border-radius: 20px;
}

.cards-table {
  width: 100%;
  // height: 30vh;
  background-color: transparent;
}

.action-button-in-cards-table {
  display: flex;
  justify-content: end;
}

.add-card {
  border-radius: 20px;
  margin-top: 2vh;
}

table {

  tr {
    // text-align: center;
  }

  tr:first-child td:first-child {
    border-top-left-radius: 20px;
    width: 25%;
  }

  tr:first-child td:last-child {
    border-top-right-radius: 20px;
  }

  tr:last-child td {
    border: 0px solid transparent;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
  }
}

.cell-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: fit-content;
  width: 500px;
}

@media (max-width: 750px) {
  .separator-when-small {
    display: flex;
  }
}