<div>
    <div style="height: 100%; width: 100%;" [hidden]="!isLoading">
        <!-- <app-loading></app-loading> -->
    </div>
    <div class="toolbar-overlay"></div>
    <div class="toolbar-overlay"></div>
    <mat-tab-group #dekkTabs mat-stretch-tabs class="color-themed">
        <mat-tab label="Curated Dekks"> 
            <div style="height: 100%; width: 100%;" [hidden]="!isLoading">
                <app-loading></app-loading>
            </div>
            <div class="selected-master-dekk color-themed-solid" [hidden]="!selectedMasterDekkId || isLoading"> {{ selectedMasterDekk.dekk_name }} </div>
            <div class="row dekk-list-panel">
                <div class="col-md-3 col-sm-4 col-6" [hidden]="isLoading" *ngFor="let dekk of dekks">
                    <mat-card class="each-dekk dekk-effect" (click)="selectDekk(dekk.tag_id)">
                        <span class="home-card-icon">
                            <mat-icon [hidden]="!dekk.is_owner || selectedMasterDekkId">edit</mat-icon>
                            <mat-icon [hidden]="!dekk.is_owner || !selectedMasterDekkId" (click)="editDekk(dekk)">edit</mat-icon>
                        </span>
                        <mat-card-title class="each-dekk-title">
                            <h2> {{dekk.tag_name}} </h2>
                        </mat-card-title>
                        <mat-card-content class="each-dekk-content"> {{dekk.total_cards}} Cards </mat-card-content> 
                        <span></span>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="My Dekks">
            <div class="row dekk-list-panel">
                <div class="col-md-3 col-sm-4 col-6" [hidden]="isLoading" *ngFor="let dekk of personalDekks">
                    <mat-card class="each-dekk dekk-effect" (click)="selectSubDekk(dekk.tag_id)">
                        <span class="home-card-icon" (click)="editDekk(dekk)">
                            <mat-icon>edit</mat-icon>
                        </span>
                        <mat-card-title class="each-dekk-title">
                            <h2> {{dekk.tag_name}} </h2>
                        </mat-card-title>
                        <mat-card-content class="each-dekk-content"> {{dekk.total_cards}} Cards </mat-card-content> 
                        <span></span>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>