.home-banner-container {
    // display: flex;
    display: none;
    align-content: space-between;
    height: 50vh;
    margin-bottom: 10px;
    padding: 15px;
}

.home-banner {
    display: flex;
    justify-content: center;
}

.dekk-list-panel {
    margin-top: 4vh;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-bottom: 7vh;
    // min-height: 50vh;
}

.each-dekk-title {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 20px;
    height: fit-content;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-word;
    white-space: normal;
}

.each-dekk-content {
    display: flex;
    justify-content: center;
}

.dekk-effect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: clamp(20vh, 25vh, 40vh);
}

.selected-master-dekk {
    display: flex;
    justify-content: center;
    // margin-left: 2vw;
    margin-top: 4vh;
    width: 100%;
    font-size: x-large;
}

.home-card-icon {
    display: flex;
    justify-content: flex-end;
}

.divider-class {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
