<div [hidden]="!isLoading">
    <app-loading></app-loading>
</div>

<div class="row" [hidden]="isLoading">
    <div class="col-1"></div>
    <div class="col-5">
        <div class="edit-card-page">
            <div class="input-field">
                <span class="input-label"> Title* </span>
                <mat-form-field class="input-form-field">
                    <p class="input-label-when-small"> Title* </p>
                    <input matInput type="text" [value]="currentCardTitle" [(ngModel)]="currentCardTitle" class="search-input" required>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="edit-card-page">
            <div class="input-field">
                <mat-form-field class="input-form-field">
                    <mat-select [formControl]="tags" multiple (selectionChange)="onTagSelected($event)">
                        <mat-select-trigger>
                            <mat-chip-list>
                                <mat-chip *ngFor="let tag of tags.value">
                                    {{tag.tag_name}}
                                </mat-chip>
                            </mat-chip-list>
                        </mat-select-trigger>
                        <mat-option>
                            <ngx-mat-select-search
                                placeholderLabel="Search tags"
                                noEntriesFoundLabel="No tags found"
                                ngModel
                                (ngModelChange)="filterTags($event)">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let tag of tagOptions" [value]="tag">{{tag.tag_name}}</mat-option>
                    </mat-select>                          
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-10">
        <h3>Front of Card</h3>
        <app-text-edit class="card-editor-class" #cardFront [elementId]="cardFrontEditorId" [content]="currentCardFront"></app-text-edit>
        <br>
        <h3>Back of Card</h3>
        <app-text-edit class="card-editor-class" #cardBack [elementId]="cardBackEditorId" [content]="currentCardBack"></app-text-edit>
        <div class="save-button">
            <button mat-raised-button (click)="saveCard()"> Save </button>
        </div>
    </div>
    <div class="col-1"></div>
</div>