.edit-card-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
}

.input-label {
    margin: 10px;
}

.input-label-when-small {
    display: none;
}

.input-form-field {
    width: clamp(15vw, 25vw, 30vw);
}

.search-input {
    border: 0px;
    background: transparent;
    width: 20vw;
}

.save-button {
    display: flex;
    justify-content: center;
    margin: 2vh;
}

@media (max-width: 600px) {
    .input-label {
        display: none;
    }
    
    .input-label-when-small {
        display: flex;
    }
}