<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="edit-card-page">
            <div class="input-field">
                <span class="input-label"> Card Name* </span>
                <mat-form-field class="input-form-field">
                    <p class="input-label-when-small"> Card Name* </p>
                    <input matInput type="text" class="search-input" required>
                </mat-form-field>
            </div>
            <div class="input-field">
                <span class="input-label"> Tags* </span>
                <mat-form-field class="input-form-field">
                    <p class="input-label-when-small"> Tags </p>
                    <!-- <input matInput type="text" class="search-input" required> -->
                    <mat-select [formControl]="tags" multiple>
                        <mat-select-trigger>
                            <mat-chip-list>
                                <mat-chip *ngFor="let tag of tags.value">
                                    {{tag}}
                                </mat-chip>
                            </mat-chip-list>
                        </mat-select-trigger>
                        <mat-option *ngFor="let tag of tagsList" [value]="tag">{{tag}}</mat-option>
                    </mat-select>                          
                </mat-form-field>
            </div>
        </div>
        <br>
        <h3>Front of Card</h3>
        <app-text-edit></app-text-edit>
        <br>
        <h3>Back of Card</h3>
        <app-text-edit></app-text-edit>
    </div>
    <div class="col-1"></div>
</div>