<div class="row login-page">
    <div class="login-container">
        <mat-card class="login-card">
            <mat-card-content class="login-card-content">
                <h2>Login</h2>
                <div class="input-field">
                    <span class="input-label"> Username * </span>
                    <mat-form-field class="input-form-field">
                        <p class="input-label-when-small"> Username * </p>
                        <input matInput class="search-input" [(ngModel)]="password"type="text" name="password" required>
                    </mat-form-field>
                </div>
                <div class="input-field">
                    <span class="input-label"> Password * </span>
                    <mat-form-field class="input-form-field">
                        <p class="input-label-when-small"> Password * </p>
                        <input matInput class="search-input" [(ngModel)]="password"type="password" name="password" required>
                    </mat-form-field>
                </div>
                <form class="login-form"></form>
                <button mat-raised-button (click)="login()" color="primary">Login</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
 