.full-page-container {
    height: 90vh;
}

.full-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-panel-container {
    @extend .full-panel-container;
    margin: 0px;
}

.font-container {
    // height: 15vh;
    // line-height: 15vh;
    text-align: center;
    // font-weight: bold;
    // overflow-wrap: normal;
}

.large-font {
    font-size: 10vh;
    font-weight: bolder;
    margin: 0px;
    line-height: 15vh;
}

.home-font-container {
    // height: 15vh;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    overflow-wrap: normal;
}

.landing-card {
    width: 30vw;
    height: fit-content;
    padding: 50px;
}

@media (max-width: 767px) {
    .right-panel-container {
        @extend .full-panel-container;
        margin-top: 80px;
    }

    .landing-card {
        width: 60vw;
    }
}