.full-page-container {
    height: 100vh;
}

.full-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.right-panel-container {
    @extend .full-panel-container;
}

.font-container {
    text-align: center;
}

.large-font {
    font-size: 10vh;
    font-weight: bolder;
    margin: 0px;
    line-height: 15vh;
}

.home-font-container {
    // height: 15vh;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    overflow-wrap: normal;
}

.landing-card {
    width: 40vw;
    min-height: 50vh;
    padding: 30px;
}

@media (max-width: 767px) {
    .full-page-container {
        height: 150vh;
    }

    .right-panel-container {
        // @extend .full-panel-container;
        margin-top: 5vh;
    }

    .landing-card {
        min-height: 40vh;
        width: 60vw;
        padding: 30px;
    }
}