<div class="row full-page-container">
    <div class="col-12 full-panel-container">
        <div class="font-container">
            <h1 class="large-font">About Us</h1>
        </div>
    </div>
    <div class="col-12 full-panel-container">
        <div class="font-container">
            “Work smarter rather than harder” is the go-to catchphrase of every Ram, Mohammed and Harry who has<br>
            topped the Postgraduate Medical entrance examinations. But there is no secret ingredient to make the<br>
            perfect soup, is there? The only soup in your life is the soup of an MCQ test you’ve landed yourself into.<br>
            The test that is gonna usher you into a speciality for the rest of your life.
        </div>
    </div>
    <div class="col-12 full-panel-container">
        <div class="font-container">
            Preparation strategies have been too traditional and haven’t changed for over 2 decades in this country.<br>
            Monkey see monkey do. The conventional strategy of over 90% of candidates has been to listen/attend<br>
            lectures, pile up notes and revise the living bonkers out of it until the dreaded testing day arrives.
        </div>
    </div>
</div>