<div class="row full-page-container">
    <div class="col-12 full-panel-container">
        <div class="font-container">
            <h1 class="large-font">About Us</h1>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-10 full-panel-container">
        <div class="font-container">
            “Work smarter rather than harder” is the go-to catchphrase of every Ram, Mohammed and Harry who has
            topped the Postgraduate Medical entrance examinations. But there is no secret ingredient to make the
            perfect soup, is there? The only soup in your life is the soup of an MCQ test you’ve landed yourself into.
            The test that is gonna usher you into a speciality for the rest of your life.
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-10 full-panel-container">
        <div class="font-container">
            Preparation strategies have been too traditional and haven’t changed for over 2 decades in this country.
            Monkey see monkey do. The conventional strategy of over 90% of candidates has been to listen/attend 
            lectures, pile up notes and revise the living bonkers out of it until the dreaded testing day arrives.
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-md-6 col-12 right-panel-container">
        <mat-card class="landing-card">
            <mat-card-content>
                With dekk, forget the dreaded process of revision with the notes piled up in the corner of your room. Deconstruct your preparation into snippets of high yield information tested on the exam day. Here, we believe that active learning with spaced repetition is the best method to retain a ton of information.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6 col-12 right-panel-container">
        <mat-card class="landing-card">
            <mat-card-content>
                Revising the whole of microbiology for example, can be done by flipping just over 300 high yielding flashcards available at your fingertips, at your own convenience. Revising them at consecutive intervals of 2, 4 and 6 weeks will make sure that this kind of spacing and repeating helps your knowledge get cemented and you don’t have to struggle to retain volatile facts. 
            </mat-card-content>
        </mat-card>
    </div>
</div>