@use '~@angular/material' as mat;
@include mat.core();
@import '@angular/cdk/overlay-prebuilt.css';
@import '~@angular/material/theming';

$beige-color: #fff6e6;
$blackish-color: #121212;
$blackish-color-with-single-beige-overlay: #252423;
$blackish-color-with-double-beige-overlay: #353432;
$blackish-color-with-triple-beige-overlay: #716D67;
$pink-color: #dc6278;
$themed-black-or-beige: $beige-color;

// Custom palettes
$custom-pink-palette: mat.$pink-palette;
$custom-pink-palette: map-merge($custom-pink-palette, (200: $pink-color));
$custom-beige-palette: mat.$orange-palette;
$custom-beige-palette: map-merge($custom-beige-palette, (50: $beige-color));

$custom-typography: mat.define-typography-config(
  $font-family: Poppins-Light,
);
@include mat.card-typography($custom-typography);

$dekk-new-primary: mat.define-palette($custom-pink-palette, 200); //mat.define-palette(mat.$indigo-palette);
$dekk-new-accent: mat.define-palette($custom-beige-palette, 50);
$dekk-new-warn: mat.define-palette(mat.$red-palette);
$dekk-new-light-theme: mat.define-light-theme((
  color: (
    primary: $dekk-new-primary,
    accent: $dekk-new-accent,
    warn: $dekk-new-warn,
  ),
  typography: $custom-typography
));
@include mat.all-component-themes($dekk-new-light-theme);
@include mat.form-field-theme($dekk-new-light-theme);
@include mat.input-theme($dekk-new-light-theme);

$dekk-new-primary-dark: mat.define-palette($custom-pink-palette, 200);
$dekk-new-accent-dark: mat.define-palette($custom-beige-palette, 50);
$dekk-new-warn-dark: mat.define-palette(mat.$red-palette);
$dekk-new-dark-theme: mat.define-dark-theme((
  color: (
    primary: $dekk-new-primary-dark,
    accent: $dekk-new-accent-dark,
    warn: $dekk-new-warn-dark,
  ),
  typography: $custom-typography
));

// Specific customizations to themes
$dekk-dark-palette-color : map-get($dekk-new-dark-theme, color);
$dekk-dark-bg: map-get($dekk-dark-palette-color, background);
$dekk-dark-bg: map-merge($dekk-dark-bg, (background: $blackish-color));
$dekk-dark-bg: map-merge($dekk-dark-bg, (card: $blackish-color-with-single-beige-overlay));
$dekk-dark-palette-color: map-merge($dekk-dark-palette-color, (background: $dekk-dark-bg));
$dekk-dark-fg: map-get($dekk-dark-palette-color, foreground);
$dekk-dark-fg: map-merge($dekk-dark-fg, (text: $beige-color));
// $dekk-dark-fg: map-merge($dekk-dark-fg, ("text:hover": $pink-color));
$dekk-dark-palette-color: map-merge($dekk-dark-palette-color, (foreground: $dekk-dark-fg));
$dekk-new-dark-theme: map-merge($dekk-new-dark-theme, (color: $dekk-dark-palette-color));

$dekk-light-palette-color : map-get($dekk-new-light-theme, color);
$dekk-light-bg: map-get($dekk-light-palette-color, background);
$dekk-light-bg: map-merge($dekk-light-bg, (background: $beige-color));
$dekk-light-bg: map-merge($dekk-light-bg, (card: $beige-color));
$dekk-light-palette-color: map-merge($dekk-light-palette-color, (background: $dekk-light-bg));
$dekk-light-fg: map-get($dekk-light-palette-color, foreground);
$dekk-light-fg: map-merge($dekk-light-fg, (text: $blackish-color));
// $dekk-light-fg: map-merge($dekk-light-fg, ("text:hover": $pink-color));
$dekk-light-palette-color: map-merge($dekk-light-palette-color, (foreground: $dekk-light-fg));
$dekk-new-light-theme: map-merge($dekk-new-light-theme, (color: $dekk-light-palette-color));

.primary-text-color {
  color: mat-color($dekk-new-primary) !important;
}

input {
  // background: white;
  border: 0px;
  border-bottom: 1px solid $blackish-color-with-double-beige-overlay;
  color: $blackish-color;
}

.app-background {
  background-color: #fdfaf4;
  //blue-white-pink
  // background-color: #effcf5;
  // background-image: linear-gradient(315deg, #d1fdd6 0%, #d4e0fa 74%);
}

.mat-card {
  background: $beige-color;
}

.mat-expansion-panel {
  background: $beige-color !important;
  box-shadow: none !important;
}

.color-themed-solid {
  color: $blackish-color !important;
}

.color-themed {
  color: $blackish-color !important;
}

.color-themed:hover {
  color: $pink-color !important;
}

.quarter-opacity-outline-themed {
  border-color: rgba(18, 18, 18, 0.25) !important;
  color: $blackish-color !important;
}

.quarter-opacity-outline-themed:hover {
  border-color: $pink-color;
  background-color: $pink-color;
  color: $beige-color !important;
}

.toolbar-themed {
  border-bottom: 2px solid #ebe1cf;
}

.menu-background {
  // background-color: #252423;
  background-color: $beige-color;
}

.menu-item {
  color: $blackish-color;
}

.search-container-themed {
  border-radius: 20px;
  background: white;
  padding: 7px 15px 7px 7px;
}

.divider-themed {
  background: $blackish-color;
}

.mat-slide-toggle-bar {
  height: 20px !important;
  border-radius: 50px !important;
  background-color: transparent !important;
  border: 3px solid $blackish-color;
}

.mat-slide-toggle-thumb {
  background-color: $blackish-color;
  border: 1.5px solid $beige-color;
}

div[role="tab"] {
  background: $beige-color;
}

cdk-virtual-scroll-viewport {
  &::-webkit-scrollbar-thumb {
    background-color: lightblue;
  }
}

::-webkit-scrollbar-thumb {
  background-color: lightblue;
}

.toolbar {
  height: 50px;
  // width: 100vw;
  display: flex;
  align-items: center;
  background: $beige-color;
  // background: rgba(212, 224, 250, 0.3);
  // background-color: #1870c9;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
  // opacity: 0.5;
}

.home-banner-container-colour {
  background: #37d4ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a1ffab, #37d2fd);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a1ffab, #37d2fd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dekk-or-card-shadow {
  // box-shadow: 3px 3px 3px gray !important;
}

.footer-themed {
  background: $beige-color !important;
}

.each-dekk {
  @extend .dekk-or-card-shadow;
  margin-bottom: clamp(15px, 2vh, 25px);
  height: 150px;
  cursor: pointer;
  // box-shadow: 3px 3px 3px gray !important;
  // box-shadow: 1px 1px white,
  //             2px 2px white,
  //             3px 3px black,
  //             4px 4px white,
  //             5px 5px white,
  //             6px 6px black,
  //             7px 7px white,
  //             8px 8px white,
  //             9px 9px black,
  //             10px 10px white,
  //             11px 11px white,
  //             12px 12px black !important;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: black;
  height: 1px;
}

.landing-card-effect {
  box-shadow: -15px -15px rgb(202, 202, 202),
        -17px -17px white,
        -32px -32px rgb(177, 176, 176),
        -34px -34px white !important;
}

app-create-dekk-card {
  .mat-form-field-flex {
    box-shadow: 1px 1px 2px $blackish-color-with-double-beige-overlay !important;
  }

  mat-form-field:not(.ng-dirty) {
    .mat-form-field-flex {
        background-color: $beige-color !important;
        color: $blackish-color;
    }
  }

  textarea {
    color: $blackish-color;
    background-color: $beige-color;

    :focus {
      box-shadow: none;
      outline: 0;
      border: 1px solid $pink-color;
    }
  }
}

.fas {
  color: $blackish-color;
}

.toolbar-search-border {
  border-radius: 20px;
  padding: 5px;
  background: $blackish-color-with-triple-beige-overlay;
  color: $beige-color;

  .mat-icon {
    color: $beige-color !important;
  }

  .mat-icon:hover {
    color: $pink-color !important;
  }

  form {
    input {
      color: $beige-color !important;
    }
  }
}

.general-text {
  background: $beige-color;
  color: $blackish-color;
}

app-sign-up, app-login {
  .mat-form-field-flex {
      border: 1px solid $blackish-color-with-single-beige-overlay;
  }
}

.dark-theme-mode {
  @include mat.all-component-themes($dekk-new-dark-theme);
  @include mat.form-field-theme($dekk-new-dark-theme);
  @include mat.input-theme($dekk-new-dark-theme);

  $themed-black-or-beige: $blackish-color-with-single-beige-overlay;

  .primary-text-color {
    color: mat-color($dekk-new-primary-dark) !important;
  }

  // div {
  //   .mat-app-background {
  //     background-color: $blackish-color !important;
  //     color: $beige-color !important;
  //   }
  // }

  input {
    // background: #303030;
    border: 0px;
    border-bottom: 1px solid $blackish-color-with-double-beige-overlay;
    color: $beige-color;
  }

  .app-background {
    background: $blackish-color;
    background-image: none;
    // background-color: #3e4349;
    // background-image: linear-gradient(315deg, #3e4349 0%, #181e24 70%);
  }

  .mat-expansion-panel {
    background: $blackish-color-with-single-beige-overlay !important;
  }

  .color-themed-solid {
    color: $beige-color !important;
  }

  .color-themed {
    color: $beige-color !important;
  }

  .color-themed:hover {
    color: $pink-color !important;
  }

  .quarter-opacity-outline-themed {
    border-color: rgba(255, 243, 224, 0.25) !important;
    color: $beige-color !important;
  }

  .quarter-opacity-outline-themed:hover {
    border-color: $pink-color; //rgba(255, 243, 224, 0.25) !important;
    background-color: $pink-color;
    color: $beige-color !important;
  }

  .toolbar-themed {
    border-bottom: 0px solid $blackish-color-with-single-beige-overlay;
  }

  .menu-background {
    background-color: $blackish-color;
  }

  .menu-item {
    color: $beige-color !important;
  }

  .search-container-themed {
    border-radius: 20px;
    background: $blackish-color;
    padding: 7px 15px 7px 7px;
  }

  .divider-themed {
    background: $beige-color !important;
  }

  .mat-slide-toggle-bar {
    height: 20px;
    border-radius: 50px;
    background-color: transparent !important;
    border: 3px solid rgba(255, 243, 224, 1);
  }

  .mat-slide-toggle-thumb {
    background-color: #fff3e0;
    border: 1.5px solid #252423;
  }

  div[role="tab"] {
    background: $blackish-color-with-double-beige-overlay;
  }

  cdk-virtual-scroll-viewport {
    &::-webkit-scrollbar-thumb {
      background-color: gray;
    }
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: gray;
  }

  // ::-webkit-scrollbar {
  //   background-color: transparent;
  //   width: 5px;
  // }

  // ::-webkit-scrollbar-track {
  //   background-color: gray;
  //   width: 5px;
  //   border-radius: 2px;
  // }

  .toolbar {
    height: 50px;
    // width: 100vw;
    display: flex;
    align-items: center;
    // background: rgba(24, 30, 36, 0.5);
    background: $blackish-color;
    color: white;
    font-weight: 600;
    // opacity: 0.5;
  }

  .toolbar-overlay {
    height: 50px;
    width: 100%;
    position: absolute;
    background: rgba(255, 246, 230, 0.08);
  }

  .home-banner-container-colour {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .dekk-or-card-shadow {
    // box-shadow: 3px 3px 3px gray !important;
  }

  .footer-themed {
    background: $blackish-color-with-double-beige-overlay !important;
  }
  
  .each-dekk {
    @extend .dekk-or-card-shadow;
    margin-bottom: clamp(15px, 2vh, 25px);
    height: 150px;
    cursor: pointer;
    // box-shadow: 3px 3px 3px gray !important;
    // box-shadow: 1px 1px black,
    //             2px 2px black,
    //             3px 3px lightgray,
    //             4px 4px black,
    //             5px 5px black,
    //             6px 6px lightgray,
    //             7px 7px black,
    //             8px 8px black,
    //             9px 9px lightgray,
    //             10px 10px black,
    //             11px 11px black,
    //             12px 12px lightgray !important;
  }

  hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:whitesmoke;
    height: 1px;
  }
  
  .lighter-mat-card {
    background: #535353 !important;
  }

  .landing-card-effect {
    box-shadow: -2px -2px lightgray,
        -17px -17px #424242,
        -19px -19px lightgray,
        -34px -34px #424242,
        -36px -36px lightgray !important;
  }

  app-create-dekk-card {
    mat-form-field:not(.ng-dirty) {
      .mat-form-field-flex {
          background-color: $blackish-color-with-single-beige-overlay !important;
          color: $beige-color;
      }
    }

    textarea {
      color: $beige-color;
      background-color: $blackish-color-with-single-beige-overlay;
    }
  }

  .fas {
    color: $beige-color;
  }

  .toolbar-search-border {
    border-radius: 20px;
    padding: 5px;
    background: $beige-color;
    color: $blackish-color !important;

    .mat-icon {
      color: $blackish-color !important;
    }

    .mat-icon:hover {
      color: $pink-color !important;
    }

    form {
      input {
        color: $blackish-color !important;
      }
    }
  }

  .general-text {
    background: $blackish-color-with-single-beige-overlay;
    color: $beige-color;
  }

  table {
    tbody {
      tr {
        background: $blackish-color-with-single-beige-overlay !important;
        color: $beige-color !important;
      }

      tr:hover, tr:hover > * {
        background: $blackish-color !important;
        color: $pink-color !important;
      }
    }
  }

  app-sign-up, app-login {
    .mat-form-field-flex {
        border: 1px solid $beige-color;
    }
  }
}
