<div [hidden]="!isLoading">
    <app-loading></app-loading>
</div>

<div class="row create-dekk-page" [hidden]="isLoading">
    <div class="create-dekk-container">
        <mat-card class="create-dekk-card">
            <mat-card-content class="create-dekk-card-content">
                <h2>Dekk Details</h2>
                <div [hidden]="isFormErrorHidden" class="form-error">
                    Registration failed. Please check the fields you have entered.
                </div>
                <div class="input-field">
                    <span class="input-label"> Dekk Name* </span>
                    <mat-form-field class="input-form-field">
                        <p class="input-label-when-small"> Dekk Name* </p>
                        <input matInput type="text" [value]="currentDekkName" [(ngModel)]="currentDekkName" class="search-input" required>
                    </mat-form-field>
                </div>
                <!-- <div class="input-field">
                    <span class="input-label"> Tags* </span>
                    <mat-form-field class="input-form-field">
                        <p class="input-label-when-small"> Tags* </p>
                        <mat-select [formControl]="tags" multiple>
                            <mat-select-trigger>
                                <mat-chip-list>
                                    <mat-chip *ngFor="let tag of tags.value">
                                        {{tag.tag_name}}
                                    </mat-chip>
                                </mat-chip-list>
                            </mat-select-trigger>
                            <mat-option *ngFor="let tag of tagsService.tagsList" [value]="tag">{{tag.tag_name}}</mat-option>
                        </mat-select>                          
                    </mat-form-field>
                </div> -->
                <form class="create-dekk-form"></form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="saveDekk()" color="primary">
                    <span [hidden]="currentDekkName === currentDekk.dekk_name">Save and Continue</span>
                    <span [hidden]="currentDekkName != currentDekk.dekk_name">Continue</span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
 