// @import '~theme/helpers';
// @import 'styles.scss';

.box-height {
  height: 5vh;
}

.search-results-container {
  margin: 0px;
}

.search-results-list-container {
  height: 80vh;
}

.hide-component {
  display: none;
}

.search-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 95%;
}

.search-input {
  border: 0px;
  background: transparent;
}

.search-result-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.each-search-item {
  width: 90vw;
  height: fit-content;
}

.tags-suggestion-dropdown-container {
  position: relative;
  display: block;
}

.selected-tags-container .selected-tags-item {
  display: inline-flex;
  padding-left: 5px;
  padding-right: 5px;
}

.selected-tags-item-chip {
  background-color: rgb(32, 32, 32);
}

.selected-tags-item-icon {
  background-color: rgb(43, 46, 48);
}

hr {
  padding: 0px;
  margin: 0px;
  background-color: rgba(253, 63, 63, 0.1);
}

ul, li {
  padding: 0px;
}

.searched-cards-container {
  height: 40vh;
  width: 85vw;
}

.searched-cards-loading {
  width: 100% !important;
}

cdk-virtual-scroll-viewport {
  height: 85vh;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
  }
}

div {
  animation-delay: 250ms;
}

.loading-container {
  @extend .search-result-list;
  height: 70vh;
  justify-content: center;
}

.loading-bar {
  margin-top: 10px;
  width: 60vw !important;
}

.search-result-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 10px 0;
}

.search-result-title {
  width: 90vw;
}