$main-card-height: 60vh;

.sign-up-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
}

.sign-up-card {
    @extend .sign-up-container;
    width: 60vw;
    padding: 0px;
}

.search-input {
    border: 0px;
    background: transparent;
    width: 10vw;
}

.sign-up-card-content {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: $main-card-height;
    height: fit-content;
    width: 70vw;
}

.input-label {
    margin: 10px;
    margin-right: 25px;
}

.input-label-when-small {
    display: none;
}

.input-field {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    width: 90%;
}

.input-form-field {
    width: 100%;
}

.left-side-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: $main-card-height;
    // height: ;
    background: black;
}

.left-side-card-item {
    margin: 5px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-bottom: 80px;
}

.card-container {
    display: flex;
    justify-content: center;
    // align-items: center;
    min-height: fit-content;
    height: 100%;
    width: 100%;
    margin: 3vh 0 3vh 0;
}

.sign-up-button {
    border-radius: 20px;
}

.sign-up-error {
    display: flex;
    justify-content: center;
    color: red;
    margin: 10px;
}

@media (max-width: 600px) {
    .input-label {
        display: none;
    }
    
    .input-label-when-small {
        display: flex;
    }
}

@media (max-width: 1000px) {
    .left-side-card-content {
        display: none;
    }
}